body {
  background: url('../images/Laura-Ashley-Home-Areca-Palm-Tree-in-Pot.jpg');
	letter-spacing: 0.1em;
  background: #fff;
  color: #121212;
  line-height: 1.5em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
.slider {
	background-color: #f0f0f0;
	position: relative;
	height: 80vh;
  overflow: hidden;
}
.slider .item {
	position: absolute;
	top: 0; left: 0;
	overflow: hidden;
}
.slider .item img {
	width: 100%;
	background-position: center center;
	display: block;
}
.slider .item:first-child {
	animation: slide1 12s ease infinite;
}
.slider .item:last-child {
	animation: slide2 12s ease infinite;
}
@keyframes slide1 {
	0% { opacity: 1; }
	30% { opacity: 1; }
	50% { opacity: 0; }
	80% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes slide2 {
	0% { opacity: 0; }
	30% { opacity: 0; }
	50% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}
.slider .item .desc {

	position: absolute;
	top: 16vh;
	left: 12vh;
	right: 12vh;
	text-align: center;
}
/*.slider .item .desc h1 {
	color: #fff;
	font-size: 8rem;
}*/
.slider .item .desc p {
	color: #fff;
  font-style: italic;
  text-align: justify;
  font-size: 4vh;

}
.slider .item:first-child .desc h1 {
	animation: slide1h1 6s ease infinite;
}
.slider .item:last-child .desc h1 {
	animation: slide2h1 6s ease infinite;
}
@keyframes slide1h1 {
	0% { transform: translate(0, 0); opacity: 1; }
	30% { transform: translate(0, 0); opacity: 1; }
	50% { transform: translate(0, -100px); opacity: 0; }
	80% { transform: translate(0, -100px); opacity: 0; }
	100% { transform: translate(0, 0); opacity: 1; }
}
@keyframes slide2h1 {
	0% { transform: translate(0, -100px); opacity: 0; }
	30% { transform: translate(0, -100px); opacity: 0; }
	50% { transform: translate(0, 0); opacity: 1; }
	80% { transform: translate(0, 0); opacity: 1; }
	100% { transform: translate(0, -100px); opacity: 0; }
}

pre {
    tab-size: 8;
}
.jumbotron p{
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {

  .slider {
  	background-color: #f0f0f0;
  	position: relative;
  	height: 52vh;
    overflow: hidden;
  }
  /*.slider .item .desc h1 {
  	color: #fff;
  	font-size: 8rem;
  }*/
  .slider .item .desc p {
  	color: #fff;
    font-style: italic;
    text-align: justify;
    font-size: 3vh;
  }
  .slider .item .desc {
  	position: absolute;
  	top: 12vh;
  	left: 12vh;
  	right: 12vh;
  	text-align: center;
  }

  .side-collapse-container{
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{
      left:200px;
  }
  .side-collapse {
      top:50px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in {
      width:0;
  }
}
.ioverlay{
  /*display:none;*/
  position:absolute;
  width:300px;
  height:300px;
  background: rgba(0,0,0,0.2);
  top:0px;
}
.i{
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;

}
.container .row .i img{
    width: 100%;
    height: auto;
}


@media screen and (max-width: 500px) {
  .slider {
  	background-color: #f0f0f0;
  	position: relative;
  	height: 35vh;
    overflow: hidden;
  }
  /*.slider .item .desc h1 {
  	color: #fff;
  	font-size: 8rem;
  }*/
  .slider .item .desc p {
  	color: #fff;
    font-style: italic;
    text-align: justify;
    font-size: 1.8vh;
  }
  .slider .item .desc {
  	position: absolute;
  	top: 6vh;
  	left: 8vh;
  	right: 8vh;
  	text-align: center;
  }

}
